* { padding: 0, margin: 0; }
canvas { background: rgba(0,0,0,0.92); display: hidden; margin: 0 auto;}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden;
    display: hidden;
}
