* { padding: 0, margin: 0 auto; }
canvas { background: rgb(0,0,0); display: hidden; overflow: hidden; margin: 0 auto;}
html, body{
    background: rgb(0,0,0);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 0;
    resize: 0;
    overflow: hidden;
    display: hidden;
}
